<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-salary-add">
			<input  id="employeeId" name="employeeId"  th:value="${employeeId}" class="form-control" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">工号：</label>
                <div class="col-sm-8">
                    <select name="employeeNo" onchange="getByEmployeeNo()" id="employeeNo" class="form-control select2-hidden-accessible" th:with="employeeVos=${@employeeServiceImpl.selectEmployeeVoListByStatus('0')}">
                        <option value=""></option>
                        <option th:each="employeeVo : ${employeeVos}" th:text="${employeeVo.employeeNo}" th:value="${employeeVo.employeeNo}"></option>
                    </select>
                </div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="employeeName"  name="employeeName" readonly="readonly" th:value="${employeeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">身份证：</label>
				<div class="col-sm-8">
					<input id="identityCard" name="identityCard" readonly="readonly" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司：</label>
				<div class="col-sm-8">
					<!--<select name="companyName" id="companyName" class="form-control m-b" th:with="type=${@dict.getType('roster_company_name')}">
						<option></option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}"></option>
					</select>-->
					<input id="companyName" name="companyName" readonly="readonly" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" readonly="true" id="treeName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位：</label>
				<div class="col-sm-8">
					<select id="postName" name="postName" class="form-control select2-hidden-accessible">
						<option></option>
						<option th:each="post:${posts}" th:value="${post.postName}" th:text="${post.postName}" th:disabled="${post.status == '1'}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">职务：</label>
				<div class="col-sm-8">
					<select id="jobName" name="jobName" class="form-control select2-hidden-accessible">
						<option></option>
						<option th:each="job:${jobs}" th:value="${job.jobName}" th:text="${job.jobName}" th:disabled="${job.status == '1'}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">基本薪资：</label>
				<div class="col-sm-8">
					<input id="baseSalary" name="baseSalary" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职务薪资：</label>
				<div class="col-sm-8">
					<input id="jobSalary" name="jobSalary" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">绩效：</label>
				<div class="col-sm-8">
					<input id="performance" name="performance" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回传日期：</label>
				<div class="col-sm-8">
					<input id="backDate" name="backDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">调整次数：</label>
				<div class="col-sm-8">
					<input id="counts" name="counts" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型：</label>
				<div class="col-sm-8">
					<select name="adjustmentType" id="adjustmentType" class="form-control m-b" th:with="type=${@dict.getType('roster_adjustment_type')}">
						<option></option>
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">补贴：</label>
				<div class="col-sm-8">
					<input id="subsidy" name="subsidy" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">调薪日期：</label>
				<div class="col-sm-8">
					<input id="adjustmentDate" name="adjustmentDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">生效日期：</label>
				<div class="col-sm-8">
					<input id="effectiveDate" name="effectiveDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('roster_adjustment_status')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/salary"
		$("#form-salary-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-salary-add').serialize());
	        }
	    }

        // laydate 时间控件绑定
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            var backDate = laydate.render({
                elem: '#backDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var adjustmentDate = laydate.render({
                elem: '#adjustmentDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var effectiveDate = laydate.render({
                elem: '#effectiveDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
        });

        function getByEmployeeNo() {
            try{
                //根据员工工号查询数据
                $.ajax({
                    type: "post",
                    url: "/roster/employee/employeeNo",
                    async: false,
                    data: {
                        "employeeNo": document.getElementById('employeeNo').value
                    },
                    dataType: "json",
                    success: function (e) {
                        document.getElementById('employeeName').value = e.data.employeeName;
                        document.getElementById('employeeId').value = e.data.employeeId;
                        document.getElementById('identityCard').value = e.data.identityCard;
                        //根据公司id获取公司信息
                        $.ajax({
                            type: "post",
                            url: "/system/companys/companyId",
                            async: false,
                            data: {
                                "companyId": e.data.companyId
                            },
                            dataType: "json",
                            success: function (c) {
                                document.getElementById('companyName').value = c.data.companyCode;
                            }
                        });
                        //根据部门id获取部门信息
                        $.ajax({
                            type: "post",
                            url: "/system/dept/deptId",
                            async: false,
                            data: {
                                "deptId": e.data.deptId
                            },
                            dataType: "json",
                            success: function (d) {
                                document.getElementById('treeName').value = d.data.deptName;
                                //document.getElementById('treeId').value = e.data.deptId;
                            }
                        });
                        // selectValue("postId",e.data.postId);
                        // selectValue("jobId",e.data.jobId);
                        //根据岗位id获取岗位信息
                        $.ajax({
                            type: "post",
                            url: "/system/post/postId",
                            async: false,
                            data: {
                                "postId": e.data.postId
                            },
                            dataType: "json",
                            success: function (p) {
                                //document.getElementById('postName').value = p.data.postName;
                                selectValue("postName",p.data.postName);
                            }
                        });
                        //根据职务id获取职务信息
                        $.ajax({
                            type: "post",
                            url: "/system/job/jobId",
                            async: false,
                            data: {
                                "jobId": e.data.jobId
                            },
                            dataType: "json",
                            success: function (j) {
                                //document.getElementById('jobName').value = j.data.jobName;
                                selectValue("jobName",j.data.jobName);
                            }
                        });
                    }
                });
            } catch(e){
                $.modal.closeLoading();
            }
        }
        function selectValue(id,value) {
            var selectId = $("#"+id+"").select2();
            selectId.val(value).trigger("change");
            selectId.change();
        }

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: ctx + "system/dept/selectDeptTree/" + deptId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
	</script>
</body>
</html>
