<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-passportInfo-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">护照号：</label>
				<div class="col-sm-8">
					<input id="passportNo" name="passportNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">护照签发日期：</label>
				<div class="col-sm-8">
					<input id="passportIssueDate" onchange="passportDeadline()"  name="passportIssueDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">护照截止日期：</label>
				<div class="col-sm-8">
					<input id="passportDeadline" name="passportDeadline" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工号：</label>
				<div class="col-sm-8">
                    <select name="employeeId" id="employeeId" onchange="getByEmployeeId()" class="form-control select2-hidden-accessible" th:with="employeeVos=${@employeeServiceImpl.selectEmployeeListByStateAndContractStatus('0','0')}">
                        <option value=""></option>
                        <option th:each="employeeVo : ${employeeVos}" th:text="${employeeVo.employeeNo}" th:value="${employeeVo.employeeId}"></option>
                    </select>
                    <input id="employeeNo" name="employeeNo" type="hidden">
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input id="employeeName" readonly="readonly" name="employeeName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">身份证：</label>
                <div class="col-sm-8">
                    <input id="identityCard" readonly="readonly" name="identityCard" class="form-control" type="text">
                </div>
            </div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/passportInfo";
		$("#form-passportInfo-add").validate({
            rules:{
                passportNo:{
                    required:true,
                    isPassport: true,
                    remote: {
                        url: prefix + "/checkPassportNoUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "passportNo" : function () {
                                return $.common.trim($("#passportNo").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            messages:{
                passportNo:{
                    required: "请填写护照号",
                    isPassport: "护照格式不正确",
                    remote: "护照已经存在"
                }
            }
		});

        jQuery.validator.addMethod("isPassport", function(value, element) {
            var passportNo1 = /^1[45][0-9]{7}$|(^[P|p|S|s]\d{7}$)|(^[S|s|G|g|E|e]\d{8}$)|(^[Gg|Tt|Ss|Ll|Qq|Dd|Aa|Ff]\d{8}$)|(^[H|h|M|m]\d{8,10}$)/;
            var passportNo2 = /^[a-zA-Z0-9]{5,17}$/;
            return this.optional(element) || ( passportNo2.test(value) || passportNo1.test(value));
        }, "护照格式不正确");

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-passportInfo-add').serialize());
	        }
	    }
        var strDate = '';
        // laydate 时间控件绑定
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            var passportIssueDate = laydate.render({
                elem: '#passportIssueDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
                done: function (value,date,endDate) {
                    var year = date.year;
                    var month = date.month;
                    var day = date.date;
                    if (month < 10) {
                        month = '0' + month;
                    }
                    if (day < 10) {
                        day = '0'  + day;
                    }
                    strDate = (year+10) + '-' + month + '-' + day;
                    ins1.
                    // console.log(strDate);

                }
            });
            var passportDeadline = laydate.render({
                elem: '#passportDeadline',
                type: 'date',
                theme: 'molv',
                trigger: 'click'
            });
        });
        console.log(strDate);
        function passportDeadline (strDate){
            $('#passportDeadline').val = strDate;
        }
        function getByEmployeeId() {
            try{
                //根据员工工号查询数据
                $.ajax({
                    type: "post",
                    url: "/roster/employee/employeeId",
                    async: false,
                    data: {
                        "employeeId": document.getElementById('employeeId').value
                    },
                    dataType: "json",
                    success: function (e) {
                        document.getElementById('employeeNo').value = e.data.employeeNo;
                        document.getElementById('employeeName').value = e.data.employeeName;
                        document.getElementById('identityCard').value = e.data.identityCard;
                    }
                });
            } catch(e){
                $.modal.closeLoading();
            }
        }
	</script>
</body>
</html>
