<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-transaction-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">工号：</label>
				<div class="col-sm-8">
                    <select name="employeeId" onchange="getByEmployeeId()" id="employeeId" class="form-control select2-hidden-accessible" th:with="employeeVos=${@employeeServiceImpl.selectEmployeeListByState('0')}">
                        <option value=""></option>
                        <option th:each="employee : ${employeeVos}" th:text="${employee.employeeNo}" th:value="${employee.employeeId}" ></option>
                    </select>
                    <input id="employeeNo" name="employeeNo"  th:value="${employeeNo}"  type="hidden">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="employeeName" name="employeeName" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">身份证：</label>
				<div class="col-sm-8">
                    <input id="identityCard" name="identityCard" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出公司：</label>
				<div class="col-sm-8">
					<input id="transOutCompany" name="transOutCompany" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出部门：</label>
				<div class="col-sm-8">
					<input id="transOutDept" name="transOutDept" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出岗位：</label>
				<div class="col-sm-8">
					<input id="transOutPost" name="transOutPost" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入公司：</label>
				<div class="col-sm-8">
                    <select id="transInCompany" name="transInCompany" class="form-control select2-hidden-accessible">
                        <option ></option>
                        <option th:each="company:${companys}" th:value="${company.companyCode}" th:text="${company.companyCode}" th:disabled="${company.status == '1'}"></option>
                    </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入部门：</label>
				<div class="col-sm-8">
                    <input class="form-control" type="text" name="transInDept" onclick="selectDeptTree()"  id="treeName">
					<!--<input name="deptId"  type="hidden" id="treeId">-->
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入岗位：</label>
				<div class="col-sm-8">
                    <select id="transInPost" name="transInPost" class="form-control select2-hidden-accessible">
                        <option ></option>
                        <option th:each="post:${posts}" th:value="${post.postName}" th:text="${post.postName}" th:disabled="${post.status == '1'}"></option>
                    </select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生效日期：</label>
				<div class="col-sm-8">
					<input id="effectiveDate" name="effectiveDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回传日期：</label>
				<div class="col-sm-8">
					<input id="backDate" name="backDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/transaction"
		$("#form-transaction-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-transaction-add').serialize());
	        }
	    }

        // laydate 时间控件绑定
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            var effectiveDate = laydate.render({
                elem: '#effectiveDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var backDate = laydate.render({
                elem: '#backDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
        });

        function getByEmployeeId() {
            try{
                //根据员工工号查询数据
                $.ajax({
                    type: "post",
                    url: "/roster/employee/employeeId",
                    async: false,
                    data: {
                        "employeeId": document.getElementById('employeeId').value
                    },
                    dataType: "json",
                    success: function (e) {
                        document.getElementById('employeeNo').value = e.data.employeeNo;
                        document.getElementById('employeeName').value = e.data.employeeName;
                        document.getElementById('identityCard').value = e.data.identityCard;
                        document.getElementById('transOutCompany').value = e.data.companyCode;
                        document.getElementById('transOutDept').value = e.data.deptName;
                        document.getElementById('transOutPost').value = e.data.postName;
                        /*//根据公司id获取公司信息
                        $.ajax({
                            type: "post",
                            url: "/system/companys/companyId",
                            async: false,
                            data: {
                                "companyId": e.data.companyId
                            },
                            dataType: "json",
                            success: function (c) {
                                document.getElementById('transOutCompany').value = c.data.companyCode;
                            }
                        });
                        //根据部门id获取部门信息
                        $.ajax({
                            type: "post",
                            url: "/system/dept/deptId",
                            async: false,
                            data: {
                                "deptId": e.data.deptId
                            },
                            dataType: "json",
                            success: function (d) {
                                document.getElementById('transOutDept').value = d.data.deptName;
                            }
                        });
                        //根据岗位id获取岗位信息
                        $.ajax({
                            type: "post",
                            url: "/system/post/postId",
                            async: false,
                            data: {
                                "postId": e.data.postId
                            },
                            dataType: "json",
                            success: function (p) {
                                document.getElementById('transOutPost').value = p.data.postName;
                            }
                        });*/
                    }
                });
            } catch(e){
                $.modal.closeLoading();
            }
        }

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: ctx + "system/dept/selectDeptTree/" + deptId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
	</script>
</body>
</html>
