<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-transaction-add2" th:object="${employeeVo}">
			<input  id="employeeId" name="employeeId"  th:field="*{employeeId}" class="form-control" type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">工号：</label>
				<div class="col-sm-8">
					<input id="employeeNo" name="employeeNo" readonly="readonly" th:field="*{employeeNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="employeeName" readonly="readonly" name="employeeName" th:field="*{employeeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证：</label>
				<div class="col-sm-8">
					<input id="identityCard" name="identityCard"  readonly="readonly" th:field="*{identityCard}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出公司：</label>
				<div class="col-sm-8">
					<input id="transOutCompany" name="transOutCompany" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出部门：</label>
				<div class="col-sm-8">
					<input id="transOutDept" name="transOutDept" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动出岗位：</label>
				<div class="col-sm-8">
					<input id="transOutPost" name="transOutPost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入公司：</label>
				<div class="col-sm-8">
					<input id="transInCompany" name="transInCompany" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入部门：</label>
				<div class="col-sm-8">
					<input id="transInDept" name="transInDept" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动入岗位：</label>
				<div class="col-sm-8">
					<input id="transInPost" name="transInPost" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否跨公司：</label>
				<div class="col-sm-8">
					<input id="isSpanCompany" name="isSpanCompany" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">生效日期：</label>
				<div class="col-sm-8">
					<input id="effectiveDate" name="effectiveDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回传日期：</label>
				<div class="col-sm-8">
					<input id="backDate" name="backDate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">异动次数：</label>
				<div class="col-sm-8">
					<input id="counts" name="counts" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<!--<div class="form-group">
				<label class="col-sm-3 control-label">删除标志（0代表存在 2代表删除）：</label>
				<div class="col-sm-8">
					<input id="delFlag" name="delFlag" class="form-control" type="text">
				</div>
			</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "roster/transaction"
		$("#form-transaction-add2").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-transaction-add2').serialize());
	        }
	    }

        // laydate 时间控件绑定
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            var effectiveDate = laydate.render({
                elem: '#effectiveDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var backDate = laydate.render({
                elem: '#backDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
        });
	</script>
</body>
</html>
