<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<input type="hidden" id="employeeId" name="employeeId" th:value="${employeeId}"/>
				<form id="transaction-form">
					<div class="select-list">
						<ul>
							<li>
								工号：<input type="text" name="employeeNo"/>
							</li>
							<li>
								姓名：<input type="text" name="employeeName"/>
							</li>
							<li>
								身份证：<input type="text" name="identityCard"/>
							</li>
							<li>
								公司：<select name="companyName" th:with="type=${@dict.getType('roster_company_name')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="roster:transaction:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="roster:transaction:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="roster:transaction:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
                <a class="btn btn-warning btn-mult disabled" onclick="$.table.exportExcel()" shiro:hasPermission="roster:transaction:export">
                    <i class="fa fa-download"></i> 导出
                </a>

				<!--<a class="btn btn-info menuItem" onclick="employee()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 员工
				</a>
				<a class="btn btn-info menuItem" onclick="contract()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 合同
				</a>
				<a class="btn btn-info menuItem" onclick="visa()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 护照
				</a>
				<a class="btn btn-info menuItem" onclick="salary()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 调薪
				</a>
				<a class="btn btn-info menuItem" onclick="promotion()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 晋升
				</a>
				<a class="btn btn-info menuItem" onclick="dimission()" shiro:hasPermission="roster:employee:">
					<i class="fa fa-link"></i> 离职
				</a>-->

			</div>

			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('roster:transaction:edit')}]];
        var removeFlag = [[${@permission.hasPermi('roster:transaction:remove')}]];
        var roster_span_company = [[${@dict.getType('roster_span_company')}]];
        var prefix = ctx + "roster/transaction";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "异动",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
                    visible : false
				},
				{
					field : 'employeeId', 
					title : '员工ID',
                    visible : false
				},
				{
					field : 'employeeNo', 
					title : '工号' 
				},
				{
					field : 'employeeName', 
					title : '姓名'
				},
				{
					field : 'identityCard', 
					title : '身份证' 
				},
				{
					field : 'transOutCompany', 
					title : '异动出公司' 
				},
				{
					field : 'transOutDept', 
					title : '异动出部门' 
				},
				{
					field : 'transOutPost', 
					title : '异动出岗位' 
				},
				{
					field : 'transInCompany', 
					title : '异动入公司' 
				},
				{
					field : 'transInDept', 
					title : '异动入部门' 
				},
				{
					field : 'transInPost', 
					title : '异动入岗位' 
				},
				{
					field : 'spanCompany',
					title : '是否跨公司',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(roster_span_company, value);
                    }
				},
				{
					field : 'effectiveDate', 
					title : '生效日期' 
				},
				{
					field : 'backDate', 
					title : '回传日期' 
				},
				/*{
					field : 'counts', 
					title : '异动次数' 
				},*/
				/*{
					field : 'state',
					title : '状态'
				},*/
				{
					field : 'remark', 
					title : '备注' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        /*花名册管理-员工 */
        function employee() {
            var url = ctx + "roster/employee";
            createMenuItem(url, "员工信息");
        }
        /*花名册管理-合同 */
        function contract() {
            var url = ctx + "roster/contract";
            createMenuItem(url, "合同信息");
        }
        /*花名册管理-护照 */
        function visa() {
            var url = ctx + "roster/visa";
            createMenuItem(url, "护照签证信息");
        }
        /*花名册管理-调薪 */
        function salary() {
            var url = ctx + "roster/salary";
            createMenuItem(url, "调薪信息");
        }
        /*花名册管理-晋升 */
        function promotion() {
            var url = ctx + "roster/promotion";
            createMenuItem(url, "晋升信息");
        }

        /*花名册管理-离职 */
        function dimission() {
            var url = ctx + "roster/dimission";
            createMenuItem(url, "离职信息");
        }

        /*function queryParams(params) {
            return {
                employeeId:    	$("#employeeId").val(),//向后台传入id参数
                pageSize:       params.limit,
                pageNum:        params.offset / params.limit + 1,
                searchValue:    params.search,
                orderByColumn:  params.sort,
                isAsc:          params.order
            };
        }*/

      /*  // 请求获取数据后处理回调函数
        function responseHandler(res) {
            if (res.code == 0) {
                //判断返回的是否有数据
                if(res.total == 0 && res.id != null) {
                    var  url = "/roster/transaction/add/" + res.id;
                    $.modal.open("该员工没有"+ $.table._option.modalName +"！是否添加？" , url);
                }
                return { rows: res.rows, total: res.total };
            } else {
                $.modal.alertWarning(res.msg);
                return { rows: [], total: 0 };
            }
        }*/

    </script>
</body>
</html>