<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-contract-add">
			<input  id="employeeId" name="employeeId" type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">合同编号：</label>
				<div class="col-sm-8">
					<input id="contractNo" name="contractNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">工号：</label>
				<div class="col-sm-8">
					<select name="employeeNo" onchange="getByEmployeeNo()" id="employeeNo" class="form-control select2-hidden-accessible" th:with="employeeVos=${@employeeServiceImpl.selectEmployeeVoListByState('0','1')}">
						<option value=""></option>
						<option th:each="employeeVo : ${employeeVos}" th:text="${employeeVo.employeeNo}" th:value="${employeeVo.employeeNo}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="employeeName" name="employeeName" readonly="true"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">身份证：</label>
				<div class="col-sm-8">
					<input id="identityCard" name="identityCard" readonly="true"  class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">入职日期：</label>
				<div class="col-sm-8">
					<input id="entryDate" name="entryDate" readonly="true" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最早入职日期：</label>
				<div class="col-sm-8">
					<input id="earliestEntryDate" name="earliestEntryDate" class="form-control" type="text"  placeholder="yyyy-MM-dd">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">意外险：</label>
				<div class="col-sm-8">
					<select name="accidentInsurance" id="accidentInsurance" class="form-control m-b" >
						<option value=""></option>
						<option value="已买">已买</option>
						<option value="未买">未买</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">社会保险：</label>
				<div class="col-sm-8">
					<select name="socialInsurance" id="socialInsurance" class="form-control m-b" >
						<option value=""></option>
						<option value="已买">已买</option>
						<option value="未买">未买</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工伤保险：</label>
				<div class="col-sm-8">
					<select name="injuryInsurance" id="injuryInsurance" class="form-control m-b">
						<option value=""></option>
						<option value="已买">已买</option>
						<option value="未买">未买</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司：</label>
				<div class="col-sm-8">
                    <input id="companyId" name="companyId" readonly="true" class="form-control" type="hidden" >
                    <input id="companyCode" name="companyCode" readonly="true" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName"  readonly="true" id="treeName">
                    <input name="deptId"  type="hidden" id="treeId">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位：</label>
				<div class="col-sm-8">
                    <input id="postId" name="postId" readonly="true" class="form-control" type="hidden" >
                    <input id="postName" name="postName" readonly="true" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职务：</label>
				<div class="col-sm-8">
                    <input id="jobId" name="jobId" readonly="true" class="form-control" type="hidden" >
                    <input id="jobName" name="jobName" readonly="true" class="form-control" type="text" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">银行卡号：</label>
				<div class="col-sm-8">
					<input id="bankCard" name="bankCard" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">具体开户行：</label>
				<div class="col-sm-8">
					<input id="accountBank" name="accountBank" readonly="true" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">试用期(月)：</label>
				<div class="col-sm-8">
					<input id="trialPeriod" name="trialPeriod" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同类型：</label>
				<div class="col-sm-8">
					<select name="contractType" id="contractType" class="form-control m-b" th:with="contractType=${@dict.getType('roster_contract_type')}">
						<option></option>
						<option th:each="ct : ${contractType}" th:text="${ct.dictLabel}" th:value="${ct.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">签订日期：</label>
				<div class="col-sm-8">
					<input id="signDate" name="signDate" class="form-control" type="text"  placeholder="yyyy-MM-dd">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">合同年限：</label>
				<div class="col-sm-8">
					<input id="yearLimit" name="yearLimit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/contract";
		$("#form-contract-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-contract-add').serialize());
	        }
	    }

        // laydate 时间控件绑定
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            /*var entryDate = laydate.render({
                elem: '#entryDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });*/
            var earliestEntryDate = laydate.render({
                elem: '#earliestEntryDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var signDate = laydate.render({
                elem: '#signDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
            var expireDate = laydate.render({
                elem: '#expireDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click',
            });
        });

        function getByEmployeeNo() {
			try{
			    //根据员工工号查询数据
                $.ajax({
                    type: "post",
                    url: "/roster/employee/employeeNo",
                    async: false,
                    data: {
                     "employeeNo": document.getElementById('employeeNo').value
                    },
                    dataType: "json",
                    success: function (e) {
						document.getElementById('employeeName').value = e.data.employeeName;
						document.getElementById('employeeId').value = e.data.employeeId;
						document.getElementById('identityCard').value = e.data.identityCard;
						document.getElementById('entryDate').value = e.data.entryDate;
						document.getElementById('bankCard').value = e.data.bankCard;
						document.getElementById('accountBank').value = e.data.accountBank;
						document.getElementById('companyId').value = e.data.companyId;
						document.getElementById('postId').value = e.data.postId;
						document.getElementById('jobId').value = e.data.jobId;

						/*selectValue("companyId",e.data.companyId);
                        selectValue("postId",e.data.postId);*/
                        //根据部门id获取部门信息
                        $.ajax({
                            type: "post",
                            url: "/system/dept/deptId",
                            async: false,
                            data: {
                                "deptId": e.data.deptId
                            },
                            dataType: "json",
                            success: function (d) {
                                document.getElementById('treeName').value = d.data.deptName;
                                document.getElementById('treeId').value = d.data.deptId;
                            }
                        });
                        //根据公司id获取公司信息
                        $.ajax({
                            type: "post",
                            url: "/system/companys/companyId",
                            async: false,
                            data: {
                                "companyId": e.data.companyId
                            },
                            dataType: "json",
                            success: function (c) {
                                document.getElementById('companyCode').value = c.data.companyCode;
                            }
                        });

                        //根据岗位id获取岗位信息
                        $.ajax({
                            type: "post",
                            url: "/system/post/postId",
                            async: false,
                            data: {
                                "postId": e.data.postId
                            },
                            dataType: "json",
                            success: function (p) {
                                document.getElementById('postName').value = p.data.postName;

                            }
                        });
                        //根据职务id获取职务信息
                        $.ajax({
                            type: "post",
                            url: "/system/job/jobId",
                            async: false,
                            data: {
                                "jobId": e.data.jobId
                            },
                            dataType: "json",
                            success: function (j) {
                                document.getElementById('jobName').value = j.data.jobName;
                            }
                        });
                    }
                });
			} catch(e){
                $.modal.closeLoading();
			}
        }
        function selectValue(id,value) {
            var selectId = $("#"+id+"").select2();
            selectId.val(value).trigger("change");
            selectId.change();
        }

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: ctx + "system/dept/selectDeptTree/" + deptId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }

	</script>
</body>
</html>
