<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-visaInfo-edit" th:object="${visaInfo}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">护照号：</label>
                <div class="col-sm-8">
                    <select name="passportId" id="passportId" class="form-control select2-hidden-accessible" th:with="passportList=${@passportInfoServiceImpl.selectPassportInfoAllByState('0')}">
                        <option></option>
                        <option th:each="passport : ${passportList}" th:text="${passport.passportNo}" th:value="${passport.id}" th:selected="${passport.id} == *{passportId} ? true:false"></option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">签证编号：</label>
                <div class="col-sm-8">
                    <input id="visaNo" name="visaNo" th:field="*{visaNo}" class="form-control" type="text">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">签证类型：</label>
                <div class="col-sm-8">
                    <select name="visaType" id="visaType" class="form-control m-b" th:with="type=${@dict.getType('roster_visa_type')}">
                        <option></option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictLabel}" th:field="*{visaType}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">签证有效期（天）：</label>
                <div class="col-sm-8">
                    <input id="visaValidity" name="visaValidity" th:field="*{visaValidity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">入境时间：</label>
                <div class="col-sm-8">
                    <input id="entryTime" name="entryTime" th:field="*{entryTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">处境时间：</label>
                <div class="col-sm-8">
                    <input id="exitTime" name="exitTime" th:field="*{exitTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">入矿时间：</label>
                <div class="col-sm-8">
                    <input id="inMineTime" name="inMineTime" th:field="*{inMineTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">出矿时间：</label>
                <div class="col-sm-8">
                    <input id="outMineTime" name="outMineTime" th:field="*{outMineTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('roster_visa_state')}">
                        <input type="radio" th:id="${dict.dictCode}" name="state" th:value="${dict.dictValue}" th:field="*{state}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/visaInfo";
		$("#form-visaInfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-visaInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
