<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-employee-add">
			<input name="deptId"  type="hidden" id="treeId"/>
			<div class="form-group">
				<label class="col-sm-3 control-label">工号：</label>
				<div class="col-sm-8">
					<input id="employeeNo" name="employeeNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">员工姓名：</label>
				<div class="col-sm-8">
					<input id="employeeName" name="employeeName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证：</label>
				<div class="col-sm-8">
					<input id="identityCard" name="identityCard" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出生日期：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="birthDate" placeholder="yyyy-MM-dd" name="birthDate"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_user_sex')}">
						<input type="radio" th:id="${dict.dictCode}" name="sex" th:value="${dict.dictLabel}" th:checked="${dict.isDefault == 'Y' ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">民族：</label>
				<div class="col-sm-8">
					<select name="nation" id="nation" class="form-control m-b" th:with="nations=${@dict.getType('roster_nation_type')}">
						<option></option>
						<option th:each="nation : ${nations}" th:text="${nation.dictLabel}" th:value="${nation.dictLabel}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">婚姻状况：</label>
				<div class="col-sm-8">
					<select name="maritalStatus" id="maritalStatus" class="form-control m-b" th:with="maritals=${@dict.getType('roster_marital_status')}">
						<option></option>
						<option th:each="marital : ${maritals}" th:text="${marital.dictLabel}" th:value="${marital.dictLabel}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">籍贯：</label>
				<div class="col-sm-8">
					<input id="nativePlace" name="nativePlace" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">住址：</label>
				<div class="col-sm-8">
					<input id="address" name="address" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">户口类型：</label>
				<div class="col-sm-8">
					<select name="residenceType" id="residenceType" class="form-control m-b" th:with="residences=${@dict.getType('roster_residence_type')}">
						<option></option>
						<option th:each="res : ${residences}" th:text="${res.dictLabel}" th:value="${res.dictLabel}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">学历：</label>
				<div class="col-sm-8">
					<select name="education" id="education" class="form-control m-b" th:with="educations=${@dict.getType('roster_education')}">
						<option></option>
						<option th:each="edu : ${educations}" th:text="${edu.dictLabel}" th:value="${edu.dictLabel}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">政治面貌：</label>
				<div class="col-sm-8">
					<select name="politicsStatus" id="politicsStatus" class="form-control m-b" th:with="politics=${@dict.getType('roster_politics_status')}">
						<option></option>
						<option th:each="ps : ${politics}" th:text="${ps.dictLabel}" th:value="${ps.dictLabel}" ></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">毕业院校：</label>
				<div class="col-sm-8">
					<input id="graduateInstitutions" name="graduateInstitutions" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">专业：</label>
				<div class="col-sm-8">
					<input id="major" name="major" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input id="contactNumber" name="contactNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">紧急电话：</label>
				<div class="col-sm-8">
					<input id="emergencyCall" name="emergencyCall" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">参加工作时间：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="joinWorkDate" placeholder="yyyy-MM-dd"  name="joinWorkDate"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职称或从业资格：</label>
				<div class="col-sm-8">
					<input id="jobTitle" name="jobTitle" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">获得时间：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control"  id="getTime" placeholder="yyyy-MM-dd" name="getTime"/>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司：</label>
				<div class="col-sm-8">
					<select id="companyCode" name="companyCode" class="form-control select2-hidden-accessible">
						<option></option>
						<option th:each="comp:${companys}" th:value="${comp.companyCode}" th:text="${comp.companyCode}" th:disabled="${comp.status == '1'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName" onclick="selectDeptTree()"  id="treeName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">岗位：</label>
				<div class="col-sm-8">
					<select id="postName" name="postName" class="form-control select2-hidden-accessible">
						<option></option>
						<option th:each="post:${posts}" th:value="${post.postName}" th:text="${post.postName}" th:disabled="${post.status == '1'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">职务：</label>
				<div class="col-sm-8">
					<select id="jobName" name="jobName" class="form-control select2-hidden-accessible">
						<option></option>
						<option th:each="job:${jobs}" th:value="${job.jobName}" th:text="${job.jobName}" th:disabled="${job.status == '1'}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">入职时间：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control"  id="entryDate" placeholder="yyyy-MM-dd" name="entryDate"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">银行卡号：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control"  id="bankCard"  name="bankCard"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">具体开户行：</label>
				<div class="col-sm-8">
					<input type="text" class="form-control"  id="accountBank" name="accountBank"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "roster/employee";
		$("#form-employee-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-employee-add').serialize());
	        }
	    }
        // laydate 时间控件绑定
		layui.use('laydate', function() {
			var laydate = layui.laydate;
			var joinWorkDate = laydate.render({
                elem: '#joinWorkDate',
				type: 'date',
                theme: 'molv',
                trigger: 'click'
            });
            var birthDate = laydate.render({
                elem: '#birthDate',
                type: 'date',
                theme: 'molv',
                max: maxDate(),
                trigger: 'click'
            });
            var getTime = laydate.render({
                elem: '#getTime',
                type: 'date',
                theme: 'molv',
                trigger: 'click'
            });
            var entryDate = laydate.render({
                elem: '#entryDate',
                type: 'date',
                theme: 'molv',
                trigger: 'click'
            });

		});
        function maxDate() {
            var now = new Date();
            return now.getFullYear()+"-" + (now.getMonth()+1) + "-" + now.getDate();
        }

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: ctx + "system/dept/selectDeptTree/" + deptId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }

	</script>
</body>
</html>
