<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.ContractMapper">
    
    <resultMap type="Contract" id="ContractResult">
        <result property="contractId"    column="contract_id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="contractNo"    column="contract_no"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="identityCard"    column="identity_card"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="entryDate"    column="entry_date"    />
        <result property="earliestEntryDate"    column="earliest_entry_date"    />
        <result property="accidentInsurance"    column="accident_insurance"    />
        <result property="socialInsurance"    column="social_insurance"    />
        <result property="injuryInsurance"    column="injury_insurance"    />
        <result property="companyCode"    column="company_code"    />
        <result property="deptName"    column="dept_name"    />
        <result property="postName"    column="post_name"    />
        <result property="jobName"    column="job_name"    />
        <result property="bankCard"    column="bank_card"    />
        <result property="accountBank"    column="account_bank"    />
        <result property="trialPeriod"    column="trial_period"    />
        <result property="contractType"    column="contract_type"    />
        <result property="signDate"    column="sign_date"    />
        <result property="yearLimit"    column="year_limit"    />
        <result property="expireDate"    column="expire_date"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectContract">
        SELECT
            contract_id,
            employee_id,
            contract_no,
            employee_no,
            employee_name,
            identity_card,
            entry_date,
            earliest_entry_date,
            accident_insurance,
            social_insurance,
            injury_insurance,
            company_code,
            dept_name,
            post_name,
            job_name,
            bank_card,
            account_bank,
            trial_period,
            contract_type,
            sign_date,
            year_limit,
            expire_date,
            state,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        FROM
            contract
    </sql>

    <select id="selectExport" resultType="com.tsingshan.infomana.domain.Contract"  statementType="STATEMENT">
        SELECT
            contract_no,
            employee_no,
            employee_name,
            identity_card,
            entry_date,
            earliest_entry_date,
            accident_insurance,
            social_insurance,
            injury_insurance,
            company_code,
            dept_name,
            post_name,
            job_name,
            bank_card,
            account_bank,
            trial_period,
            (
                SELECT
                f.dict_label
                FROM
                sys_dict_data f
                WHERE
                f.dict_type = 'roster_contract_type'
                AND f.dict_value = contract_type
            ) contract_type,
            sign_date,
            year_limit,
            expire_date,
            state,
            remark
        FROM
            contract
        where contract_id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>

    </select>
    <select id="selectByEmployeeIds" resultMap="ContractResult" >
        <include refid="selectContract"/>
        where employee_id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>
	
    <select id="selectContractList" parameterType="Contract" resultMap="ContractResult">
        <include refid="selectContract"/>
        <where>
            <if test="contractId != null ">
                and contract_id = #{contractId}
            </if>
             <if test="employeeId != null ">
                 and employee_id = #{employeeId}
             </if>
             <if test="contractNo != null  and contractNo != '' ">
                 and contract_no like concat('%', #{contractNo}, '%')
             </if>
             <if test="entryDate != null ">
                 and entry_date = #{entryDate}
             </if>
             <if test="earliestEntryDate != null ">
                 and earliest_entry_date = #{earliestEntryDate}
             </if>
             <if test="accidentInsurance != null  and accidentInsurance != '' ">
                 and accident_insurance like concat('%', #{accidentInsurance}, '%')
             </if>
             <if test="socialInsurance != null  and socialInsurance != '' ">
                 and social_insurance like concat('%', #{socialInsurance}, '%')
             </if>
             <if test="injuryInsurance != null  and injuryInsurance != '' ">
                 and injury_insurance like concat('%', #{injuryInsurance}, '%')
             </if>
             <if test="companyCode != null and companyCode != '' ">
                 and company_code = #{companyCode}
             </if>
             <if test="deptName != null and deptName != '' ">
                 and dept_name = #{deptName}
             </if>
            <if test="postName != null and postName != '' ">
                and post_name = #{postName}
            </if>
            <if test="jobName != null and jobName != '' ">
                 and job_name = #{jobName}
             </if>
             <if test="bankCard != null  and bankCard != '' ">
                 and bank_card like concat('%', #{bankCard}, '%')
             </if>
             <if test="accountBank != null  and accountBank != '' ">
                 and account_bank like concat('%', #{accountBank}, '%')
             </if>
             <if test="trialPeriod != null  and trialPeriod != '' ">
                 and trial_period like concat('%', #{trialPeriod}, '%')
             </if>
             <if test="state != null  and state != '' ">
                 and state = #{state}
             </if>
             <if test="delFlag != null  and delFlag != '' ">
                 and del_flag = #{delFlag}
             </if>
             <if test="createBy != null  and createBy != '' ">
                 and create_by = #{createBy}</if>
             <if test="createTime != null ">
                 and create_time = #{createTime}
             </if>
             <if test="updateBy != null  and updateBy != '' ">
                 and update_by = #{updateBy}
             </if>
             <if test="updateTime != null ">
                 and update_time = #{updateTime}
             </if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
        </where>
    </select>
    <select id="selectContractListByContractNo" parameterType="String" resultMap="ContractResult">
        <include refid="selectContract"/>
        WHERE contract_no = #{contractNo}
    </select>
    
    <select id="selectContractById" parameterType="Long" resultMap="ContractResult">
        <include refid="selectContract"/>
        WHERE contract_id = #{contractId}
    </select>


        
    <insert id="insertContract" parameterType="Contract">
        insert into contract
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="contractId != null  ">contract_id,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="contractNo != null  and contractNo != ''  ">contract_no,</if>
			<if test="employeeName != null  and employeeName != ''  ">employee_name,</if>
			<if test="identityCard != null  and identityCard != ''  ">identity_card,</if>
			<if test="employeeNo != null  and employeeNo != ''  ">employee_no,</if>
			<if test="entryDate != null  ">entry_date,</if>
			<if test="earliestEntryDate != null  ">earliest_entry_date,</if>
			<if test="accidentInsurance != null  and accidentInsurance != ''  ">accident_insurance,</if>
			<if test="socialInsurance != null  and socialInsurance != ''  ">social_insurance,</if>
			<if test="injuryInsurance != null  and injuryInsurance != ''  ">injury_insurance,</if>
			<if test="companyCode != null  and companyCode != ''  ">company_code,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="postName != null  and postName != ''  ">post_name,</if>
			<if test="jobName != null  and jobName != ''  ">job_name,</if>
			<if test="bankCard != null  and bankCard != ''  ">bank_card,</if>
			<if test="accountBank != null  and accountBank != ''  ">account_bank,</if>
			<if test="trialPeriod != null  and trialPeriod != ''  ">trial_period,</if>
			<if test="contractType != null  and contractType != ''  ">contract_type,</if>
			<if test="signDate != null  ">sign_date,</if>
			<if test="yearLimit != null  ">year_limit,</if>
			<if test="expireDate != null  ">expire_date,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="contractId != null  ">#{contractId},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="contractNo != null  and contractNo != ''  ">#{contractNo},</if>
			<if test="employeeName != null  and employeeName != ''  ">#{employeeName},</if>
			<if test="identityCard != null  and identityCard != ''  ">#{identityCard},</if>
			<if test="employeeNo != null  and employeeNo != ''  ">#{employeeNo},</if>
			<if test="entryDate != null  ">#{entryDate},</if>
			<if test="earliestEntryDate != null  ">#{earliestEntryDate},</if>
			<if test="accidentInsurance != null  and accidentInsurance != ''  ">#{accidentInsurance},</if>
			<if test="socialInsurance != null  and socialInsurance != ''  ">#{socialInsurance},</if>
			<if test="injuryInsurance != null  and injuryInsurance != ''  ">#{injuryInsurance},</if>
            <if test="companyCode != null  and companyCode != ''  ">#{companyCode},</if>
            <if test="deptName != null  and deptName != ''  ">#{deptName},</if>
            <if test="postName != null  and postName != ''  ">#{postName},</if>
            <if test="jobName != null  and jobName != ''  ">#{jobName},</if>
			<if test="bankCard != null  and bankCard != ''  ">#{bankCard},</if>
			<if test="accountBank != null  and accountBank != ''  ">#{accountBank},</if>
			<if test="trialPeriod != null  and trialPeriod != ''  ">#{trialPeriod},</if>
            <if test="contractType != null  and contractType != ''  ">#{contractType},</if>
            <if test="signDate != null  ">#{signDate},</if>
            <if test="yearLimit != null  ">#{yearLimit},</if>
            <if test="expireDate != null  ">#{expireDate},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateContract" parameterType="Contract">
        update contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="contractNo != null  and contractNo != ''  ">contract_no = #{contractNo},</if>
            <if test="employeeName != null  and employeeName != ''  ">employee_name = #{employeeName},</if>
            <if test="identityCard != null  and identityCard != ''  ">identity_card = #{identityCard},</if>
            <if test="employeeNo != null  and employeeNo != ''  ">employee_no = #{employeeNo},</if>
            <if test="entryDate != null  ">entry_date = #{entryDate},</if>
            <if test="earliestEntryDate != null  ">earliest_entry_date = #{earliestEntryDate},</if>
            <if test="accidentInsurance != null  and accidentInsurance != ''  ">accident_insurance = #{accidentInsurance},</if>
            <if test="socialInsurance != null  and socialInsurance != ''  ">social_insurance = #{socialInsurance},</if>
            <if test="injuryInsurance != null  and injuryInsurance != ''  ">injury_insurance = #{injuryInsurance},</if>
            <if test="companyCode != null  and companyCode != ''  ">company_code = #{companyCode},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="postName != null  and postName != ''  ">post_name = #{postName},</if>
            <if test="jobName != null  and jobName != ''  ">job_name = #{jobName},</if>
            <if test="bankCard != null  and bankCard != ''  ">bank_card = #{bankCard},</if>
            <if test="accountBank != null  and accountBank != ''  ">account_bank = #{accountBank},</if>
            <if test="trialPeriod != null  and trialPeriod != ''  ">trial_period = #{trialPeriod},</if>
            <if test="contractType != null  and contractType != ''  ">contract_type = #{contractType},</if>
            <if test="signDate != null ">sign_date = #{signDate},</if>
            <if test="yearLimit != null ">year_limit = #{yearLimit},</if>
            <if test="expireDate != null ">expire_date = #{expireDate},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where contract_id = #{contractId}
    </update>

	<delete id="deleteContractById" parameterType="Long">
        delete from contract where contract_id = #{contractId}
    </delete>
	
    <delete id="deleteContractByIds" parameterType="Long">
        delete from contract where contract_id in 
        <foreach item="contractId" collection="array" open="(" separator="," close=")">
            #{contractId}
        </foreach>
    </delete>
</mapper>