<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.DimissionMapper">
    
    <resultMap type="Dimission" id="DimissionResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="identityCard"    column="identity_card"    />
        <result property="companyName"    column="company_name"    />
        <result property="deptName"    column="dept_name"    />
        <result property="jobName"    column="job_name"    />
        <result property="postName"    column="post_name"    />
        <result property="entryDate"    column="entry_date"    />
        <result property="dimissionDate"    column="dimission_date"    />
        <result property="backDate"    column="back_date"    />
        <result property="dimissionType"    column="dimission_type"    />
        <result property="dimissionReason"    column="dimission_reason"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectDimissionVo">
        select id, employee_id, employee_no, employee_name, identity_card, company_name, dept_name, job_name, post_name, entry_date, dimission_date, back_date, dimission_type, dimission_reason, state, del_flag, create_by, create_time, update_by, update_time, remark from dimission
    </sql>

    <select id="selectExport" resultType="com.tsingshan.infomana.domain.Dimission"  statementType="STATEMENT">
        select
            employee_no,
            employee_name,
            identity_card,
            company_name,
            dept_name,
            job_name,
            post_name,
            entry_date,
            dimission_date,
            back_date,
            dimission_type,
            dimission_reason,
            state,
            remark
        from dimission
        where id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>
    </select>
	
    <select id="selectDimissionList" parameterType="Dimission" resultMap="DimissionResult">
        <include refid="selectDimissionVo"/>
        <where>  
            <if test="id != null ">
                and id = #{id}
            </if>
             <if test="employeeId != null ">
                 and employee_id like concat('%', #{employeeId}, '%')
             </if>
             <if test="employeeNo != null  and employeeNo != '' ">
                 and employee_no like concat('%', #{employeeNo}, '%')
             </if>
             <if test="employeeName != null  and employeeName != '' ">
                 and employee_name like concat('%', #{employeeName}, '%')
             </if>
             <if test="identityCard != null  and identityCard != '' ">
                 and identity_card like concat('%', #{identityCard}, '%')
             </if>
             <if test="companyName != null  and companyName != '' ">
                 and company_name like concat('%', #{companyName}, '%')
             </if>
             <if test="deptName != null  and deptName != '' ">
                 and dept_name like concat('%', #{deptName}, '%')
             </if>
             <if test="jobName != null  and jobName != '' ">
                 and job_name like concat('%', #{jobName}, '%')
             </if>
             <if test="postName != null  and postName != '' ">
                 and post_name like concat('%', #{postName}, '%')
             </if>
             <if test="entryDate != null ">
                 and entry_date = #{entryDate}
             </if>
             <if test="dimissionDate != null ">
                 and dimission_date = #{dimissionDate}
             </if>
             <if test="backDate != null ">
                 and back_date = #{backDate}
             </if>
             <if test="dimissionType != null  and dimissionType != '' ">
                 and dimission_type = #{dimissionType}
             </if>
             <if test="dimissionReason != null  and dimissionReason != '' ">
                 and dimission_reason = #{dimissionReason}
             </if>
             <if test="state != null  and state != '' ">
                 and state = #{state}
             </if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectDimissionById" parameterType="Long" resultMap="DimissionResult">
        <include refid="selectDimissionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDimission" parameterType="Dimission">
        insert into dimission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="employeeNo != null  and employeeNo != ''  ">employee_no,</if>
			<if test="employeeName != null  and employeeName != ''  ">employee_name,</if>
			<if test="identityCard != null  and identityCard != ''  ">identity_card,</if>
			<if test="companyName != null  and companyName != ''  ">company_name,</if>
			<if test="deptName != null  and deptName != ''  ">dept_name,</if>
			<if test="jobName != null  and jobName != ''  ">job_name,</if>
			<if test="postName != null  and postName != ''  ">post_name,</if>
			<if test="entryDate != null  ">entry_date,</if>
			<if test="dimissionDate != null  ">dimission_date,</if>
			<if test="backDate != null  ">back_date,</if>
			<if test="dimissionType != null  and dimissionType != ''  ">dimission_type,</if>
			<if test="dimissionReason != null  and dimissionReason != ''  ">dimission_reason,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="employeeNo != null  and employeeNo != ''  ">#{employeeNo},</if>
			<if test="employeeName != null  and employeeName != ''  ">#{employeeName},</if>
			<if test="identityCard != null  and identityCard != ''  ">#{identityCard},</if>
			<if test="companyName != null  and companyName != ''  ">#{companyName},</if>
			<if test="deptName != null  and deptName != ''  ">#{deptName},</if>
			<if test="jobName != null  and jobName != ''  ">#{jobName},</if>
			<if test="postName != null  and postName != ''  ">#{postName},</if>
			<if test="entryDate != null  ">#{entryDate},</if>
			<if test="dimissionDate != null  ">#{dimissionDate},</if>
			<if test="backDate != null  ">#{backDate},</if>
			<if test="dimissionType != null  and dimissionType != ''  ">#{dimissionType},</if>
			<if test="dimissionReason != null  and dimissionReason != ''  ">#{dimissionReason},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateDimission" parameterType="Dimission">
        update dimission
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="employeeNo != null  and employeeNo != ''  ">employee_no = #{employeeNo},</if>
            <if test="employeeName != null  and employeeName != ''  ">employee_name = #{employeeName},</if>
            <if test="identityCard != null  and identityCard != ''  ">identity_card = #{identityCard},</if>
            <if test="companyName != null  and companyName != ''  ">company_name = #{companyName},</if>
            <if test="deptName != null  and deptName != ''  ">dept_name = #{deptName},</if>
            <if test="jobName != null  and jobName != ''  ">job_name = #{jobName},</if>
            <if test="postName != null  and postName != ''  ">post_name = #{postName},</if>
            <if test="entryDate != null  ">entry_date = #{entryDate},</if>
            <if test="dimissionDate != null  ">dimission_date = #{dimissionDate},</if>
            <if test="backDate != null  ">back_date = #{backDate},</if>
            <if test="dimissionType != null  and dimissionType != ''  ">dimission_type = #{dimissionType},</if>
            <if test="dimissionReason != null  and dimissionReason != ''  ">dimission_reason = #{dimissionReason},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteDimissionById" parameterType="Long">
        delete from dimission where id = #{id}
    </delete>
	
    <delete id="deleteDimissionByIds" parameterType="Long">
        delete from dimission where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>