<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.EmployeeVoMapper">
	<sql id="selectEmployeeVo">
        SELECT
            e.employee_id,
            e.employee_no,
            e.employee_name,
            e.identity_card,
            e.birth_date,
            e.sex,
            e.nation,
            e.marital_status,
            e.native_place,
            e.address,
            e.residence_type,
            e.education,
            e.politics_status,
            e.graduate_institutions,
            e.major,
            e.contact_number,
            e.emergency_call,
            e.join_work_date,
            e.job_title,
            e.get_time,
            c.company_code,
            d.dept_name ,
            p.post_name,
            j.job_name,
            e.work_age,
            e.bank_card,
            e.account_bank,
            e.entry_date,
            e.state,
            e.contract_status,
            e.remark,
            e.del_flag,
            e.create_by,
            e.create_time,
            e.update_by,
            e.update_time
        FROM
            employee e
		LEFT JOIN companys c ON e.company_id = c.company_id
        LEFT JOIN sys_dept d ON e.dept_id = d.dept_id
        LEFT JOIN sys_post p ON e.post_id = p.post_id
        LEFT JOIN job j ON e.job_id = j.job_id
        WHERE
            e.del_flag = '0'
    </sql>


    <select id="selectExport" resultType="com.tsingshan.infomana.domain.vo.EmployeeVo"  statementType="STATEMENT">
        SELECT
            e.employee_id,
            e.employee_no,
            e.employee_name,
            e.identity_card,
            e.birth_date,
            -- e.sex,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'sys_user_sex'
              AND f.dict_value = e.sex
            ) sex,
            -- e.nation,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_nation_type'
              AND f.dict_value = e.nation
            ) nation,
            -- e.marital_status,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_marital_status'
              AND f.dict_value = e.marital_status
            ) marital_status,
            e.native_place,
            e.address,
            -- e.residence_type,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_residence_type'
              AND f.dict_value = e.residence_type
            ) residence_type,
            -- e.education,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_education'
              AND f.dict_value = e.education
            ) education,
            -- e.politics_status,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_politics_status'
              AND f.dict_value = e.politics_status
            ) politics_status,
            e.graduate_institutions,
            e.major,
            e.contact_number,
            e.emergency_call,
            e.join_work_date,
            e.job_title,
            e.get_time,
            c.company_code,
            d.dept_name,
            p.post_name,
            j.job_name,
            e.work_age,
            e.bank_card,
            e.account_bank,
            e.entry_date,
            -- e.state,roster_employee_status
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_employee_status'
              AND f.dict_value = e.state
            ) state,
            -- e.contract_status,roster_contract_status
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_contract_status'
              AND f.dict_value = e.contract_status
            ) contract_status,
            e.remark,
            e.del_flag,
            e.create_by,
            e.create_time,
            e.update_by,
            e.update_time
        FROM
            employee e
        LEFT JOIN companys c ON e.company_id = c.company_id
        LEFT JOIN sys_dept d ON e.dept_id = d.dept_id
        LEFT JOIN sys_post p ON e.post_id = p.post_id
        LEFT JOIN job j ON e.job_id = j.job_id
        WHERE
            e.del_flag = '0'
        AND e.employee_id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>
    </select>
    
    <select id="selectEmployeeVoByEmployeeNo" parameterType="java.lang.String" resultType="com.tsingshan.infomana.domain.vo.EmployeeVo">
        <include refid="selectEmployeeVo" />
        AND e.employee_no = #{employeeNo}
    </select>

    <select id="selectEmployeeVoListByState" parameterType="java.lang.String" resultType="com.tsingshan.infomana.domain.vo.EmployeeVo">
        <include refid="selectEmployeeVo"/>
        and e.state = #{state} and e.contract_status = #{contractStatus}


    </select>
	
    <select id="selectEmployeeVoList" parameterType="EmployeeVo" resultType="com.tsingshan.infomana.domain.vo.EmployeeVo">
        <include refid="selectEmployeeVo"/>

         <if test="employeeId != null ">
            and e.employee_id = #{employeeId}
         </if>
         <if test="employeeNo != null  and employeeNo != '' ">
             and e.employee_no like concat('%', #{employeeNo}, '%')
         </if>
         <if test="employeeName != null  and employeeName != '' ">
             and e.employee_name like concat('%', #{employeeName}, '%')
         </if>
         <if test="identityCard != null  and identityCard != '' ">
             and e.identity_card = #{identityCard}
         </if>
         <if test="birthDate != null "> and e.birth_date = #{birthDate}</if>
         <if test="sex != null  and sex != '' "> and e.sex = #{sex}</if>
         <if test="nation != null  and nation != '' "> and e.nation = #{nation}</if>
         <if test="maritalStatus != null  and maritalStatus != '' "> and e.marital_status = #{maritalStatus}</if>
         <if test="nativePlace != null  and nativePlace != '' "> and e.native_place = #{nativePlace}</if>
         <if test="address != null  and address != '' "> and e.address = #{address}</if>
         <if test="residenceType != null  and residenceType != '' "> and e.residence_type = #{residenceType}</if>
         <if test="education != null  and education != '' "> and e.education = #{education}</if>
         <if test="politicsStatus != null  and politicsStatus != '' "> and e.politics_status = #{politicsStatus}</if>
         <if test="graduateInstitutions != null  and graduateInstitutions != '' "> and e.graduate_institutions = #{graduateInstitutions}</if>
         <if test="major != null  and major != '' "> and e.major = #{major}</if>
         <if test="contactNumber != null  and contactNumber != '' ">
             and e.contact_number like concat('%', #{contactNumber}, '%')
         </if>
         <if test="emergencyCall != null  and emergencyCall != '' ">
             and e.emergency_call like concat('%', #{emergencyCall}, '%')
         </if>
         <if test="joinWorkDate != null "> and e.join_work_date = #{joinWorkDate}</if>
         <if test="jobTitle != null  and jobTitle != '' "> and e.job_title = #{jobTitle}</if>
         <if test="getTime != null "> and e.get_time = #{getTime}</if>
         <if test="companyCode != null and companyCode != '' ">
             and c.company_code = #{companyCode}
         </if>
        <if test="deptName != null and deptName != '' ">
            and d.dept_name =  #{deptName}
        </if>
        <if test="postName != null and postName != '' ">
            and p.post_name = #{postName}
        </if>
        <if test="jobName != null and jobName != '' ">
            and j.job_name = #{jobName}
        </if>
        <if test="workAge != null  and workAge != '' ">
            and e.work_age = #{workAge}
        </if>
         <if test="bankCard != null  and bankCard != '' "> and e.bank_card = #{bankCard}</if>
         <if test="accountBank != null  and accountBank != '' "> and e.account_bank = #{accountBank}</if>
         <if test="entryDate != null  and entryDate != '' "> and e.entry_date = #{entryDate}</if>
         <if test="state != null  and state != '' "> and e.state = #{state}</if>
         <if test="contractStatus != null and contractStatus != '' "> and e.contract_status = #{contractStatus}</if>
         <if test="delFlag != null  and delFlag != '' "> and e.del_flag = #{delFlag}</if>
         <if test="createBy != null  and createBy != '' "> and e.create_by = #{createBy}</if>
         <if test="createTime != null "> and e.create_time = #{createTime}</if>
         <if test="updateBy != null  and updateBy != '' "> and e.update_by = #{updateBy}</if>
         <if test="updateTime != null "> and e.update_time = #{updateTime}</if>
         <if test="remark != null  and remark != '' "> and e.remark = #{remark}</if>

    </select>
    
    <select id="selectEmployeeVoById" parameterType="Long" resultType="com.tsingshan.infomana.domain.vo.EmployeeVo">
        <include refid="selectEmployeeVo"/>
        AND e.employee_id = #{employeeId}
    </select>

    
</mapper>