<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.PassportInfoMapper">
    
    <resultMap type="PassportInfo" id="PassportInfoResult">
        <result property="id"    column="id"    />
        <result property="passportNo"    column="passport_no"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="identityCard"    column="identity_card"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="passportIssueDate"    column="passport_issue_date"    />
        <result property="passportDeadline"    column="passport_deadline"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectPassportInfoVo">
        select id, passport_no, employee_name,identity_card,employee_no,passport_issue_date, passport_deadline, employee_id, state, del_flag, create_by, create_time, update_by, update_time, remark from ros_passport_info
    </sql>
	
    <select id="selectPassportInfoList" parameterType="PassportInfo" resultMap="PassportInfoResult">
        <include refid="selectPassportInfoVo"/>
        <where>
            del_flag = '0'
            <if test="id != null "> and id = #{id}</if>
             <if test="passportNo != null  and passportNo != '' "> and passport_no = #{passportNo}</if>
             <if test="employeeName != null  and employeeName != '' "> and employee_name = #{employeeName}</if>
            <if test="identityCard != null  and identityCard != '' "> and identity_card = #{identityCard}</if>
            <if test="employeeNo != null  and employeeNo != '' "> and employee_no = #{employeeNo}</if>
             <if test="passportIssueDate != null "> and passport_issue_date = #{passportIssueDate}</if>
             <if test="passportDeadline != null "> and passport_deadline = #{passportDeadline}</if>
             <if test="employeeId != null "> and employee_id = #{employeeId}</if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectPassportInfoById" parameterType="Long" resultMap="PassportInfoResult">
        <include refid="selectPassportInfoVo"/>
        where id = #{id}
    </select>
    <select id="exportPassportInfo" parameterType="Long" resultMap="PassportInfoResult">
        SELECT
            passport_no,
            employee_name,
            identity_card,
            employee_no,
            passport_issue_date,
            passport_deadline,
            state,
            remark
        FROM
          ros_passport_info
        where id IN
        <foreach item="ids" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="checkPassportNoUnique" parameterType="String" resultMap="PassportInfoResult">
        <include refid="selectPassportInfoVo"/>
        where passport_no = #{passportNo}
    </select>
    <select id="selectPassportInfoAllByState" parameterType="String" resultMap="PassportInfoResult">
        SELECT
            id,
            passport_no,
            employee_name,
            identity_card,
            employee_no,
            passport_issue_date,
            passport_deadline,
            employee_id,
            state,
            del_flag
        FROM
            ros_passport_info
        WHERE del_flag = '0'
        <if test="_parameter != null and _parameter != '' ">
            AND state = #{state}
        </if>
    </select>

        
    <insert id="insertPassportInfo" parameterType="PassportInfo">
        insert into ros_passport_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="passportNo != null  and passportNo != ''  ">passport_no,</if>
			<if test="employeeName != null  and employeeName != ''  ">employee_name,</if>
			<if test="identityCard != null  and identityCard != ''  ">identity_card,</if>
			<if test="employeeNo != null  and employeeNo != ''  ">employee_no,</if>
			<if test="passportIssueDate != null  ">passport_issue_date,</if>
			<if test="passportDeadline != null  ">passport_deadline,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="passportNo != null  and passportNo != ''  ">#{passportNo},</if>
			<if test="employeeName != null  and employeeName != ''  ">#{employeeName},</if>
			<if test="identityCard != null  and identityCard != ''  ">#{identityCard},</if>
			<if test="employeeNo != null  and employeeNo != ''  ">#{employeeNo},</if>
			<if test="passportIssueDate != null  ">#{passportIssueDate},</if>
			<if test="passportDeadline != null  ">#{passportDeadline},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updatePassportInfo" parameterType="PassportInfo">
        update ros_passport_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="passportNo != null  and passportNo != ''  ">passport_no = #{passportNo},</if>
            <if test="employeeName != null  and employeeName != ''  ">employee_name = #{employeeName},</if>
            <if test="identityCard != null  and identityCard != ''  ">identity_card = #{identityCard},</if>
            <if test="employeeNo != null  and employeeNo != ''  ">employee_no = #{employeeNo},</if>
            <if test="passportIssueDate != null  ">passport_issue_date = #{passportIssueDate},</if>
            <if test="passportDeadline != null  ">passport_deadline = #{passportDeadline},</if>
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePassportInfoById" parameterType="Long">
        update ros_passport_info set del_flag = '1' where id = #{id}
    </delete>
	
    <delete id="deletePassportInfoByIds" parameterType="Long">
        update ros_passport_info set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>