<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.TransactionMapper">
    
    <resultMap type="Transaction" id="TransactionResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="identityCard"    column="identity_card"    />
        <result property="transOutCompany"    column="trans_out_company"    />
        <result property="transOutDept"    column="trans_out_dept"    />
        <result property="transOutPost"    column="trans_out_post"    />
        <result property="transInCompany"    column="trans_in_company"    />
        <result property="transInDept"    column="trans_in_dept"    />
        <result property="transInPost"    column="trans_in_post"    />
        <result property="spanCompany"    column="span_company"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="backDate"    column="back_date"    />
        <result property="counts"    column="counts"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectTransactionVo">
        select id, employee_id, employee_no, employee_name, identity_card, trans_out_company, trans_out_dept, trans_out_post, trans_in_company, trans_in_dept, trans_in_post, span_company, effective_date, back_date, counts, state, del_flag, create_by, create_time, update_by, update_time, remark from transaction
    </sql>

    <select id="selectExport" resultType="com.tsingshan.infomana.domain.Transaction"  statementType="STATEMENT">
        <include refid="selectTransactionVo" />
        where id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>
    </select>

    <select id="selectTransactionList" parameterType="Transaction" resultMap="TransactionResult">
        <include refid="selectTransactionVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="employeeId != null "> and employee_id = #{employeeId}</if>
             <if test="employeeNo != null  and employeeNo != '' ">
                 and employee_no like concat('%', #{employeeNo}, '%')
             </if>
             <if test="employeeName != null  and employeeName != '' ">
                 and employee_name like concat('%', #{employeeName}, '%')
             </if>
             <if test="identityCard != null  and identityCard != '' ">
                 and identity_card like concat('%', #{identityCard}, '%')
             </if>
             <if test="transOutCompany != null  and transOutCompany != '' ">
                 and trans_out_company like concat('%', #{transOutCompany}, '%')
             </if>
             <if test="transOutDept != null  and transOutDept != '' ">
                 and trans_out_dept like concat('%', #{transOutDept}, '%')
             </if>
             <if test="transOutPost != null  and transOutPost != '' ">
                 and trans_out_post like concat('%', #{transOutPost}, '%')
             </if>
             <if test="transInCompany != null  and transInCompany != '' ">
                 and trans_in_company like concat('%', #{transInCompany}, '%')
             </if>
             <if test="transInDept != null  and transInDept != '' ">
                 and trans_in_dept like concat('%', #{transInDept}, '%')
             </if>
             <if test="transInPost != null  and transInPost != '' ">
                 and trans_in_post like concat('%', #{transInPost}, '%')
             </if>
             <if test="spanCompany != null  and spanCompany != '' ">
                 and span_company = #{spanCompany}
             </if>
             <if test="effectiveDate != null "> and effective_date = #{effectiveDate}</if>
             <if test="backDate != null "> and back_date = #{backDate}</if>
             <if test="counts != null "> and counts = #{counts}</if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectTransactionById" parameterType="Long" resultMap="TransactionResult">
        <include refid="selectTransactionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTransaction" parameterType="Transaction">
        insert into transaction
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="employeeNo != null  and employeeNo != ''  ">employee_no,</if>
			<if test="employeeName != null  and employeeName != ''  ">employee_name,</if>
			<if test="identityCard != null  and identityCard != ''  ">identity_card,</if>
			<if test="transOutCompany != null  and transOutCompany != ''  ">trans_out_company,</if>
			<if test="transOutDept != null  and transOutDept != ''  ">trans_out_dept,</if>
			<if test="transOutPost != null  and transOutPost != ''  ">trans_out_post,</if>
			<if test="transInCompany != null  and transInCompany != ''  ">trans_in_company,</if>
			<if test="transInDept != null  and transInDept != ''  ">trans_in_dept,</if>
			<if test="transInPost != null  and transInPost != ''  ">trans_in_post,</if>
			<if test="spanCompany != null  and spanCompany != ''  ">span_company,</if>
			<if test="effectiveDate != null  ">effective_date,</if>
			<if test="backDate != null  ">back_date,</if>
			<if test="counts != null  ">counts,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="employeeNo != null  and employeeNo != ''  ">#{employeeNo},</if>
			<if test="employeeName != null  and employeeName != ''  ">#{employeeName},</if>
			<if test="identityCard != null  and identityCard != ''  ">#{identityCard},</if>
			<if test="transOutCompany != null  and transOutCompany != ''  ">#{transOutCompany},</if>
			<if test="transOutDept != null  and transOutDept != ''  ">#{transOutDept},</if>
			<if test="transOutPost != null  and transOutPost != ''  ">#{transOutPost},</if>
			<if test="transInCompany != null  and transInCompany != ''  ">#{transInCompany},</if>
			<if test="transInDept != null  and transInDept != ''  ">#{transInDept},</if>
			<if test="transInPost != null  and transInPost != ''  ">#{transInPost},</if>
			<if test="spanCompany != null  and spanCompany != ''  ">#{spanCompany},</if>
			<if test="effectiveDate != null  ">#{effectiveDate},</if>
			<if test="backDate != null  ">#{backDate},</if>
			<if test="counts != null  ">#{counts},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateTransaction" parameterType="Transaction">
        update transaction
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="employeeNo != null  and employeeNo != ''  ">employee_no = #{employeeNo},</if>
            <if test="employeeName != null  and employeeName != ''  ">employee_name = #{employeeName},</if>
            <if test="identityCard != null  and identityCard != ''  ">identity_card = #{identityCard},</if>
            <if test="transOutCompany != null  and transOutCompany != ''  ">trans_out_company = #{transOutCompany},</if>
            <if test="transOutDept != null  and transOutDept != ''  ">trans_out_dept = #{transOutDept},</if>
            <if test="transOutPost != null  and transOutPost != ''  ">trans_out_post = #{transOutPost},</if>
            <if test="transInCompany != null  and transInCompany != ''  ">trans_in_company = #{transInCompany},</if>
            <if test="transInDept != null  and transInDept != ''  ">trans_in_dept = #{transInDept},</if>
            <if test="transInPost != null  and transInPost != ''  ">trans_in_post = #{transInPost},</if>
            <if test="spanCompany != null  and spanCompany != ''  ">span_company = #{spanCompany},</if>
            <if test="effectiveDate != null  ">effective_date = #{effectiveDate},</if>
            <if test="backDate != null  ">back_date = #{backDate},</if>
            <if test="counts != null  ">counts = #{counts},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTransactionById" parameterType="Integer">
        delete from transaction where id = #{id}
    </delete>
	
    <delete id="deleteTransactionByIds" parameterType="String">
        delete from transaction where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>