<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.VisaMapper">
    
    <resultMap type="Visa" id="VisaResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="passportNo"    column="passport_no"    />
        <result property="employeeNo"    column="employee_no"    />
        <result property="employeeName"    column="employee_name"    />
        <result property="identityCard"    column="identity_card"    />
        <result property="passportIssueDate"    column="passport_issue_date"    />
        <result property="passportDeadline"    column="passport_deadline"    />
        <result property="visaNo"    column="visa_no"    />
        <result property="visaType"    column="visa_type"    />
        <result property="visaValidity"    column="visa_validity"    />
        <result property="entryTime"    column="entry_time"    />
        <result property="exitTime"    column="exit_time"    />
        <result property="inMineTime"    column="in_mine_time"    />
        <result property="outMineTime"    column="out_mine_time"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectVisaVo">
        select
        id, employee_id,employee_no, employee_name, passport_no, identity_card,
        passport_issue_date, passport_deadline, visa_no, visa_type,
        visa_validity, entry_time, exit_time, in_mine_time, out_mine_time,
        state, del_flag, create_by, create_time, update_by, update_time,
        remark from passport_visa
    </sql>

    <select id="selectExport" resultType="com.tsingshan.infomana.domain.Visa"  statementType="STATEMENT">
        <include refid="selectVisaVo" />
        where id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>
    </select>

    <select id="selectVisaList" parameterType="Visa" resultMap="VisaResult">
        <include refid="selectVisaVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="employeeId != null "> and employee_id = #{employeeId}</if>
             <if test="passportNo != null  and passportNo != '' ">
                 and passport_no like concat('%', #{passportNo}, '%')
             </if>
            <if test="employeeNo != null  and employeeNo != '' ">
                 and employee_no like concat('%', #{employeeNo}, '%')
             </if>
            <if test="employeeName != null  and employeeName != '' ">
                 and employee_name like concat('%', #{employeeName}, '%')
             </if>

             <if test="identityCard != null  and identityCard != '' ">
                 and identity_card like concat('%', #{identityCard}, '%')
             </if>
             <if test="passportIssueDate != null ">
                 and passport_issue_date = #{passportIssueDate}
             </if>
             <if test="passportDeadline != null ">
                 and passport_deadline = #{passportDeadline}
             </if>
             <if test="visaNo != null  and visaNo != '' ">
                 and visa_no like concat('%', #{visaNo}, '%')
             </if>
             <if test="visaType != null  and visaType != '' ">
                 and visa_type like concat('%', #{visaType}, '%')
             </if>
             <if test="visaValidity != null ">
                 and visa_validity like concat('%', #{visaValidity}, '%')
             </if>
             <if test="entryTime != null ">
                 and entry_time = #{entryTime}
             </if>
             <if test="exitTime != null ">
                 and exit_time = #{exitTime}
             </if>
             <if test="inMineTime != null ">
                 and in_mine_time = #{inMineTime}
             </if>
             <if test="outMineTime != null ">
                 and out_mine_time = #{outMineTime}
             </if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectVisaById" parameterType="Long" resultMap="VisaResult">
        <include refid="selectVisaVo"/>
        where id = #{id}
    </select>

    <select id="selectVisaByEmployeeNoState"  resultMap="VisaResult">
        <include refid="selectVisaVo"/>
        where employee_no = #{employeeNo} and state = #{state}
    </select>
        
    <insert id="insertVisa" parameterType="Visa">
        insert into passport_visa
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="passportNo != null  and passportNo != ''  ">passport_no,</if>
			<if test="employeeNo != null  and employeeNo != ''  ">employee_no,</if>
			<if test="employeeName != null  and employeeName != ''  ">employee_name,</if>
			<if test="identityCard != null  and identityCard != ''  ">identity_card,</if>
			<if test="passportIssueDate != null  ">passport_issue_date,</if>
			<if test="passportDeadline != null  ">passport_deadline,</if>
			<if test="visaNo != null  and visaNo != ''  ">visa_no,</if>
			<if test="visaType != null  and visaType != ''  ">visa_type,</if>
			<if test="visaValidity != null  ">visa_validity,</if>
			<if test="entryTime != null  ">entry_time,</if>
			<if test="exitTime != null  ">exit_time,</if>
			<if test="inMineTime != null  ">in_mine_time,</if>
			<if test="outMineTime != null  ">out_mine_time,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="passportNo != null  and passportNo != ''  ">#{passportNo},</if>
			<if test="employeeNo != null  and employeeNo != ''  ">#{employeeNo},</if>
			<if test="employeeName != null  and employeeName != ''  ">#{employeeName},</if>
			<if test="identityCard != null  and identityCard != ''  ">#{identityCard},</if>
			<if test="passportIssueDate != null  ">#{passportIssueDate},</if>
			<if test="passportDeadline != null  ">#{passportDeadline},</if>
			<if test="visaNo != null  and visaNo != ''  ">#{visaNo},</if>
			<if test="visaType != null  and visaType != ''  ">#{visaType},</if>
			<if test="visaValidity != null  ">#{visaValidity},</if>
			<if test="entryTime != null  ">#{entryTime},</if>
			<if test="exitTime != null  ">#{exitTime},</if>
			<if test="inMineTime != null  ">#{inMineTime},</if>
			<if test="outMineTime != null  ">#{outMineTime},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateVisa" parameterType="Visa">
        update passport_visa
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="passportNo != null  and passportNo != ''  ">passport_no = #{passportNo},</if>
            <if test="employeeNo != null  and employeeNo != ''  ">employee_no = #{employeeNo},</if>
            <if test="employeeName != null  and employeeName != ''  ">employee_name = #{employeeName},</if>
            <if test="identityCard != null  and identityCard != ''  ">identity_card = #{identityCard},</if>
            <if test="passportIssueDate != null  ">passport_issue_date = #{passportIssueDate},</if>
            <if test="passportDeadline != null  ">passport_deadline = #{passportDeadline},</if>
            <if test="visaNo != null  and visaNo != ''  ">visa_no = #{visaNo},</if>
            <if test="visaType != null  and visaType != ''  ">visa_type = #{visaType},</if>
            <if test="visaValidity != null  ">visa_validity = #{visaValidity},</if>
            <if test="entryTime != null  ">entry_time = #{entryTime},</if>
            <if test="exitTime != null  ">exit_time = #{exitTime},</if>
            <if test="inMineTime != null  ">in_mine_time = #{inMineTime},</if>
            <if test="outMineTime != null  ">out_mine_time = #{outMineTime},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteVisaById" parameterType="Long">
        delete from passport_visa where id = #{id}
    </delete>
	
    <delete id="deleteVisaByIds" parameterType="Long">
        delete from passport_visa where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>