<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsingshan.infomana.mapper.VisaInfoVoMapper">

	
	<sql id="selectVisaInfoVo">
        SELECT
            v.id,
            v.passport_id,
            p.passport_no,
            e.employee_name,
            e.identity_card,
            e.employee_no,
            v.visa_no,
            v.visa_type,
            v.visa_validity,
            v.entry_time,
            v.exit_time,
            v.in_mine_time,
            v.out_mine_time,
            v.state,
            v.del_flag,
            v.remark
        FROM
            ros_visa_info v
        LEFT JOIN ros_passport_info p ON v.passport_id = p.id
        LEFT JOIN employee e ON p.employee_id = e.employee_id
        WHERE
            v.del_flag = '0'
    </sql>
	
    <select id="selectVisaInfoVoList" parameterType="VisaInfoVo" resultType="com.tsingshan.infomana.domain.vo.VisaInfoVo">
        <include refid="selectVisaInfoVo"/>
        <where>  
            <if test="id != null "> and v.id = #{id}</if>
            <if test="passportNo != null and passportNo != '' "> and p.passport_no = #{passportNo}</if>
            <if test="employeeName != null and employeeName != '' "> and e.employee_name = #{employeeName}</if>
            <if test="identityCard != null and identityCard != '' "> and e.identity_card = #{identityCard}</if>
            <if test="employeeNo != null and employeeNo != '' "> and e.employee_no = #{employeeNo}</if>
             <if test="visaNo != null "> and v.visa_no = #{visaNo}</if>
             <if test="visaType != null  and visaType != '' "> and v.visa_type = #{visaType}</if>
             <if test="visaValidity != null "> and v.visa_validity = #{visaValidity}</if>
             <if test="entryTime != null "> and v.entry_time = #{entryTime}</if>
             <if test="exitTime != null "> and v.exit_time = #{exitTime}</if>
             <if test="inMineTime != null "> and v.in_mine_time = #{inMineTime}</if>
             <if test="outMineTime != null "> and v.out_mine_time = #{outMineTime}</if>
             <if test="passportId != null "> and v.passport_id = #{passportId}</if>
             <if test="state != null  and state != '' "> and v.state = #{state}</if>
             <if test="remark != null  and remark != '' "> and v.remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectVisaInfoVoById" parameterType="Long" resultType="com.tsingshan.infomana.domain.vo.VisaInfoVo">
        <include refid="selectVisaInfoVo"/>
        and v.id = #{id}
    </select>

    <select id="exportVisaInfoVo" parameterType="Long" resultType="com.tsingshan.infomana.domain.vo.VisaInfoVo">
        SELECT
            p.passport_no,
            e.employee_name,
            e.identity_card,
            e.employee_no,
            v.visa_no,
            v.visa_type,
            v.visa_validity,
            v.entry_time,
            v.exit_time,
            v.in_mine_time,
            v.out_mine_time,
        -- v.state,
            (
              SELECT
                f.dict_label
              FROM
                sys_dict_data f
              WHERE
                f.dict_type = 'roster_visa_state'
              AND f.dict_value = v.state
            ) state,
            v.remark
        FROM
            ros_visa_info v
        LEFT JOIN ros_passport_info p ON v.passport_id = p.id
        LEFT JOIN employee e ON p.employee_id = e.employee_id
        WHERE
            v.del_flag = '0' AND v.id IN
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            ${ids}
        </foreach>
    </select>




	<!--<delete id="deleteVisaInfoById" parameterType="Long">
        delete from ros_visa_info where id = #{id}
    </delete>
	
    <delete id="deleteVisaInfoByIds" parameterType="Long">
        delete from ros_visa_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>-->
    
</mapper>